{% extends 'layout.html' %}

{% block content %}

<div class="content-section">
    <div class="media">
        <p> Hello world! This website is a platform for helping each other academically if one is in need.
            You can answer a question and/or ask one if necessary. If you are out there and want to connect here is a
            medium.
            Let's share knowledge, sources, textbooks and
            references!!
            Please bare with the site it is a just a prototype.
        </p>
    </div>

    <div class="border-top pt-3 pb-5">
        <small class="text-muted">
            Developed by <a class="ml-1" href="https://mail.google.com/">Hilario Nengare Jr.</a>
        </small>
    </div>
</div>
{% endblock %}
